
.house {
  /** background-color: bisque;*/
  background-image: url(../imgs/house-hori.png);
  background-repeat: no-repeat;
  background-size: 95%;
}

.KalahBoard {
  background-image: url(../imgs/board-hori.png);
  background-image: url(imgs/board-hori.png);
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: center;
}

.store {
  background-image: url(../imgs/store-hori.png);
  background-repeat: no-repeat;
  background-size: 95%;
  background-position: center;
}

.seedtext {
  font-family: Calibri;
  font-size: 20pt;
  text-align: center;
  width: 100%;
}

.slowlyAppear {
	-webkit-animation: slowlyAppear 1.5s linear;
	-moz-animation: slowlyAppear 1.5s linear;
	-ms-animation: slowlyAppear 1.5s linear;
	-o-animation: slowlyAppear 1.5s linear;
	animation: slowlyAppear 1.5s linear;
}

@-webkit-keyframes slowlyAppear {
  from {opacity: 0.01;}
  to {opacity: 1;}
}
@-moz-keyframes slowlyAppear {
  from {opacity: 0.01;}
  to {opacity: 1;}
}
@-o-keyframes slowlyAppear {
  from {opacity: 0.01;}
  to {opacity: 1;}
}
@keyframes slowlyAppear {
  from {opacity: 0.01;}
  to {opacity: 1;}
}

td {
  padding:0 5px 0 5px;
}
