
.house {
  /** background-color: bisque;*/
  background-image: url(imgs/house-hori.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.KalahBoard {
  background-image: url(imgs/board-hori.png);
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: center;
}

.store {
  background-image: url(imgs/store-hori.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.seedtext {
  font-family: Calibri;
  font-size: 20pt;
  center;
  width=100%;
}

.mancalas {
  cx: 50%;
  cy: 50%;
  rx: 30%;
  ry: 40%;
  fill: lightslategray;
  stroke: YellowGreen;
  stroke-width: 5%;
}

.inhouse {
  rx: 30%;
  ry: 10%;
  overflow: visible;
}

.slowlyAppear {
	-webkit-animation: slowlyAppear 1.5s linear;
	-moz-animation: slowlyAppear 1.5s linear;
	-ms-animation: slowlyAppear 1.5s linear;
	-o-animation: slowlyAppear 1.5s linear;
	animation: slowlyAppear 1.5s linear;
}

@-webkit-keyframes slowlyAppear {
  from {opacity: 0.01;}
  to {opacity: 1;}
}
@-moz-keyframes slowlyAppear {
  from {opacity: 0.01;}
  to {opacity: 1;}
}
@-o-keyframes slowlyAppear {
  from {opacity: 0.01;}
  to {opacity: 1;}
}
@keyframes slowlyAppear {
  from {opacity: 0.01;}
  to {opacity: 1;}
}

td {
  padding:0 5px 0 5px;
}
