.rg {
  border-right: 4pt solid darkorange;
}
.bg {
  border-bottom: 4pt solid darkorange;
}

.lg {
  border-left: 4pt solid darkorange;
}

.tg {
  border-top: 4pt solid darkorange;
  border: 4pt solid darkorange;
}

.house {
  background-color: bisque;
}

.vgap {
  background-color: burlywood;
  background: repeating-linear-gradient(
    2deg,
    DarkGoldenRod,
    DarkGoldenRod 10px,
    burlywood 10px,
    burlywood 40px
  );
}

.store {
  background-color: burlywood;
  /*
  background: repeating-radial-gradient(
  circle,
  DarkGoldenRod 5px,
  DarkGoldenRod 20px,
  burlywood 5px,
  burlywood 100px
);
*/
  background: repeating-linear-gradient(
    2deg,
    DarkGoldenRod,
    DarkGoldenRod 10px,
    burlywood 10px,
    burlywood 120px
  );

}

.rb {
  border-right: 4pt solid cornflowerblue;
}
.bb {
  border-bottom: 4pt solid cornflowerblue;
}

.lb {
  border-left: 4pt solid cornflowerblue;
}

.tb {
  border-top: 4pt solid cornflowerblue;
  border: 4pt solid cornflowerblue;
}

.mancalas {
  cx: 50%;
  cy: 50%;
  rx: 30%;
  ry: 40%;
  fill: lightslategray;
  stroke: YellowGreen;
  stroke-width: 5%;
}

.inhouse {
  rx: 30%;
  ry: 10%;
}

.slowlyAppear {
	-webkit-animation: slowlyAppear 1.5s linear;
	-moz-animation: slowlyAppear 1.5s linear;
	-ms-animation: slowlyAppear 1.5s linear;
	-o-animation: slowlyAppear 1.5s linear;
	animation: slowlyAppear 1.5s linear;
}

@-webkit-keyframes slowlyAppear {
  from {opacity: 0.01;}
  to {opacity: 1;}
}
@-moz-keyframes slowlyAppear {
  from {opacity: 0.01;}
  to {opacity: 1;}
}
@-o-keyframes slowlyAppear {
  from {opacity: 0.01;}
  to {opacity: 1;}
}
@keyframes slowlyAppear {
  from {opacity: 0.01;}
  to {opacity: 1;}
}

td {
  padding:0 5px 0 5px;
}
