.rg {
  border-right: 4pt solid darkorange;
}
.bg {
  border-bottom: 4pt solid darkorange;
}

.lg {
  border-left: 4pt solid darkorange;
}

.tg {
  border-top: 4pt solid darkorange;
}

/*
.house {
  background-color: bisque;
}
*/

.store {
  background-color: burlywood;
}

.rb {
  border-right: 4pt solid cornflowerblue;
}
.bb {
  border-bottom: 4pt solid cornflowerblue;
}

.lb {
  border-left: 4pt solid cornflowerblue;
}

.tb {
  border-top: 4pt solid cornflowerblue;
}

.mancalas {
  cx: 50%;
  cy: 50%;
  rx: 30%;
  ry: 40%;
  fill: lightslategray;
  stroke: YellowGreen;
  stroke-width: 5%;
}

.inhouse {
  rx: 30%;
  ry: 10%;
}

.slowlyAppear {
	-webkit-animation: slowlyAppear 0.5s linear;
	-moz-animation: slowlyAppear 0.5s linear;
	-ms-animation: slowlyAppear 0.5s linear;
	-o-animation: slowlyAppear 0.5s linear;
	animation: slowlyAppear 0.5s linear;
}

@-webkit-keyframes slowlyAppear {
  from {opacity: 0.1;}
  to {opacity: 1;}
}
@-moz-keyframes slowlyAppear {
  from {opacity: 0.1;}
  to {opacity: 1;}
}
@-o-keyframes slowlyAppear {
  from {opacity: 0.1;}
  to {opacity: 1;}
}
@keyframes slowlyAppear {
  from {opacity: 0.1;}
  to {opacity: 1;}
}

td {
  padding:0 5px 0 5px;
}
